.productReview {

    max-width: 100%;
    height: 100%;
    margin: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: rgba(159, 159, 254, 0.129);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rebeccapurple, 0 1px 2px rgba(255, 255, 254);

    h3 {
        font-weight: bold;


        font-size: 1.5rem;
    }

    button {
        height: 50%;

    }

}



.CartTitle {
    margin: 0.5rem;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.634);
    font-size: 1.5rem;
}


.imageFix {
    max-width: 40%;
    height: 100%;
    object-fit: cover;



}

.priceDetails {
    background-color: rgba(159, 159, 254, 0.129);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rebeccapurple, 0 1px 2px rgba(255, 255, 254);
    max-width: 30%;
    height: 50%;
    margin: auto 1.5rem;


}

.priceDetails h1 {
    font-size: 1rem;
}

.priceDetails h4 {
    font-weight: bold;
    font-size: 0.8rem;
}

.content {
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}