.product-image{
    background-color: red;
    width:30% ;
    height: 100%;
    object-fit: cover;
    margin: 0 1.5rem;
}

.product-card{
    /* background-color: red; */
    max-width: 70%;
    text-align: center;
    margin: 1.5rem auto;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    
}

.productDetails h2{
    font-size: 1.5rem;
    max-width: 80%;
    
}

.productDetails p{
    margin: 0.9rem 0;
    font-weight: bold;
}